<div class="container">
    <tws-header class="front-page-header row justify-content-center">
    </tws-header>
    <tws-menu class="row justify-content-center no-gutters">
    </tws-menu>
    <footer class="row justify-content-center">
        <div class="col-auto">
            <p>A product by 
                <a href="https://www.theweirdscience.com"
                    target="_blank"
                    class="image-fluid">
                    <img src="../assets/logos/twslogo.png" 
                        alt="The Weird Science Logo" 
                        title="The Weird Science">    
                </a>
            </p>
        </div>
    </footer>
</div>
